:root {
  --logo-dark: rgb(79, 147, 58);
  --logo-light: rgb(222, 246, 192);
}
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  color: #999;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #555;
}

#install-msg {
  display: none;
}

#brand img {
  width: 60px;
  border-radius: 50%;
}

section {
  min-height: 100vh;
  padding: 15px 10px;
  /* border-bottom: 5px solid rgba(0, 0, 0, 0.8); */
}

section .container {
  margin: 10px auto;
  width: 70%;
}

section:nth-of-type(2n) {
  background-color: rgba(222, 246, 192, 0.3);
}

section:not(.hero-section) {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  height: 70px;
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 0 30px;
  border-bottom: 0.1px solid var(--logo-dark);
  transition: background 0.3s;
}

header nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

header nav ul li {
  height: 70px;
  display: flex;
  align-items: center;
}

a {
  margin: 10px;
  text-decoration: none;
  color: var(--logo-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}
a i {
  font-size: 2.5rem !important;
}

nav.hidden-nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.959);
  width: 100%;
  z-index: 500;
  transform: translateX(100%);
  transition: transform 0.3s ease-in;
  padding: 20px;
}

nav.hidden-nav ul {
  display: block;
}

nav.hidden-nav li {
  border-bottom: 1px solid;
  width: 100%;
  font-size: 1.2rem;
  text-transform: uppercase;
}
nav.hidden-nav li a {
  width: 100%;
  height: 100%;
}

nav.hidden-nav .close {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: var(--logo-dark);
}
nav.hidden-nav.shown {
  transform: translateX(0%);
}

.cta-btn {
  background-color: var(--logo-light);
  border-radius: 5px;
  border: 2px solid;
  width: 70px;
  padding: 10px 7px;
  font-size: 0.8rem;
  font-weight: bold;
}

.hero-section {
  padding-top: 70px;
  background-image: url(../images/kshitij_ngo.jpg);
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-section.donation {
  background-image: url(../images/gallery5.jpg);
}
.hero-section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
  top: 0;
  left: 0;
}
.hero-div {
  z-index: 10;
  color: white !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-div h1,
h2 {
  color: white;
}

.hero-div p {
  font-size: 1.1rem;
  font-family: "Courier New", Courier, monospace;
}

.cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cta-container .cta-btn {
  width: 100px;
}

header .cta-btn.donate-btn {
  background-color: transparent;
  color: var(--logo-dark);
}

.cta-btn.donate-btn {
  background-color: transparent;
  color: white;
}

.cta-btn:hover {
  background-color: var(--logo-dark);
  color: var(--logo-light);
}

section h1,
h2,
h3 {
  text-align: center;
  font-size: bold;
  text-transform: uppercase;
  margin: 10px;
}
section p {
  font-size: 1.2rem;
  padding: 10px;
}
p.right {
  text-align: right;
}

.img-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin: 10px auto;
}
.img-cards .img-card {
  width: 20%;
  box-shadow: 0 2px 5px #f0f0f0;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.img-cards .img-card img {
  width: 100%;
}

.img-cards .img-card p {
  font-size: 1rem;
}

.img-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}
.img-gallery a {
  width: 29%;
  margin: 10px;
  border: 5px solid var(--logo-dark);
  border-radius: 7px;
}
.img-gallery a img {
  object-fit: cover;
  width: 100%;
}

footer {
  height: 50px;
  background-color: var(--logo-dark);
  width: 100%;
  color: white;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 700px) {
  header {
    bottom: 0;
    position: fixed;
    border-top: 2px solid var(--logo-dark);
    border-bottom: none;
  }

  #install-msg {
    background-color: var(--logo-light);
    position: absolute;
    z-index: 200;
    height: 38vh;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: 1;
    padding: 10px;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    animation: installShow 0.5s ease 0.3s forwards;
    opacity: 0;
  }
  #install-msg .btn-div {
    align-self: flex-end;
    margin-top: 20px;
  }
  #install-msg .btn-div span {
    font-size: 0.8rem;
    text-decoration: underline;
  }
  #install-msg h2 {
    color: var(--logo-dark);
  }
  #install-msg p {
    width: 90%;
    margin: auto;
  }

  section .container {
    width: 90%;
  }

  .img-cards .img-card {
    width: 90%;
  }
  .img-gallery a {
    width: 100%;
  }

  footer {
    margin-bottom: 70px;
  }
}

#contact-us .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact-us .container a,
#contact-us .container p {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: bold;
  margin: 0;
}
#contact-us .container p {
  display: block;
}

#contact-us .container form {
  display: inline-block;
  margin: 10px;
}

label {
  display: block;
  font-size: 0.9rem;
}
input,
textarea {
  display: block;
  width: 300px;
  padding: 10px;
  margin: 5px;
}

@keyframes installShow {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
